@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
}

.sidebar-open .main {
  &__content {
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.8) translateX(50%);
    transition: all 0.5s ease-in-out;
  }
}

.main {
  &__content {
    // min-height: 100vh;
    padding: 48px;
    margin-right: 40px;
    transition: all 0.5s ease-in-out;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      padding: 24px;
      position: relative;
      background-color: #1a1d29;
      z-index: 100;
      margin-right: 0;
    }
  }

}